# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/cloud-a-config
terraform/cloud-b-config
terraform/*.tfvars
.terraform/
*.tfstate
*.tfstate.*